<nav class="SiteHeader-nav">
    {# {{ dump( categoryRepository.findAll()) }} #}
    {# <a href="#" class="SiteHeader-nav-link burger"><i class="fas fa-bars"></i></a>
    <a href="#" class="SiteHeader-nav-link noBurger"><i class="fas fa-times"></i></a> #}
    <a class="SiteHeader-nav-link" href="{{ path('home_index') }}"><i class="fas fa-home"></i> Accueil</a>
    <div>
        <a class="SiteHeader-nav-link SelectionClick" href="#"><i class="fas fa-wine-bottle"></i> Selection</a>
        <nav class="Selection">
            {% for category in categoryRepository.findAll() %}
                <a class="SiteHeader-nav-link Selection-link" href="{{ path('category_show', {'slug' : category.slug }) }}">{{category.name}}</a>
            {% endfor %}
        </nav>
    </div>
    
    {% if app.user %}
        <a class="SiteHeader-nav-link" href="{{ path('security_logout') }}"><i class="fas fa-sign-out-alt"></i> Deconnexion</a>
        <a class="SiteHeader-nav-link" href="{{ path('admin_index') }}"><i class="fas fa-user-cog"></i> Administration</a>
    {% else %}
        <a class="SiteHeader-nav-link" href="{{ path('security_login') }}"><i class="fas fa-sign-in-alt"></i> Connexion</a>
        <a class="SiteHeader-nav-link" href="{{ path('account_signup') }}"><i class="fas fa-user-plus"></i> Inscription</a>
    {% endif %}

    {% if app.user %}
    <div class="UserContainer">
        <small class="baneer-fullname">{{app.user.fullName}}</small>
        <img class="baneerAvatar" src="{{avatar_asset(app.user.avatar)}}" alt="avatar">
    </div>
    {% endif %}
</nav>

<section class="baneer">
    <h1 class="baneer-title">La cave de John : bières, vins, spiritueux</h1>
</section>
