{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Produit {% endblock %}

{% block body %}

    <article class="detailProduct LayoutProduct">
        <img class="detailProduct-pic" src="{{product.thumbnail}}"></img>
        <h2 class="detailProduct-title">{{product.name|capitalize}}</h2>
        <p class="detailProduct-desc">{{product.description}}</p>
        <small class="detailProduct-date">Publié le {{product.createdAt|date('d/m/Y')}}</small></br>
        <a href="{{ path('category_show', {'slug' : product.category.slug }) }}"><small class="productSticker-cat">Catégorie : {{product.category.name}}</small></a>
        <small class="detailProduct-price">Prix : {{product.price}} €</small>
    </article>

    <div class="formContainer LayoutProduct">
        <h3>Laissez un avis</h3>
        {{form_start(ReviewType, {'attr':{'class':'form', 'novalidate':'novalidate'}})}} {# ->balise <form> #}
            {{ form_widget(ReviewType, {'attr':{'class':'formChamp'}})}} {# ->les champs du formulaire #}
            <input class="submit" type="submit" value="Noter !"> {# On peut laisser le bouton en dur #}
        {{form_end(ReviewType)}} {# ->balise </form> #}
    </div>

    <h3 class="LayoutProduct">Les derniers avis</h3>
    <div class="Review LayoutProduct">
        {% for comment in comments %}
        <div class="Comment">
            <small>Publié par : {{comment.nickname}} le {{comment.createdAt|date('d/m/Y')}}</small>
            <p>Avis : {{comment.content}}</p>
            <small class="grade">Note : {{comment.grade}}/5</small></br>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}