{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Produit {% endblock %}

{% block body %}

    <article class="detailProduct LayoutProduct">
        <img class="detailProduct-pic" src="{{thumbnail_asset(product.thumbnail)}}"></img>
        <h2 class="detailProduct-title">{{product.name|capitalize}}</h2>
        {% if app.user %}
            {% if app.user.canFavorite(product) %}
                <a class="detailProduct-fav" href="{{path('favorite', {'slug':product.slug})}}"><i class="fas fa-crown"></i> Ajouter en favori</a>
            {% endif %}
            {% if app.user.canUnfavorite(product) %}
                <a class="detailProduct-fav" href="{{path('unfavorite', {'slug':product.slug})}}"><i class="fas fa-heart-broken"></i></i> Supprimer des favoris</a>
            {% endif %}
        {% endif %}
        <p class="detailProduct-desc">{{product.description}}</p>
        <small class="detailProduct-date">Publié le {{product.createdAt|date('d/m/Y')}}</small></br>
        <a href="{{ path('category_show', {'slug' : product.category.slug }) }}"><small class="productSticker-cat">Catégorie : {{product.category.name}}</small></a>
        <small class="detailProduct-price">Prix : {{format_price(product.price)}}</small>
    </article>

    <h3 class="LayoutProduct">Dans la même catégorie</h3>

    <div class="SameCat LayoutProduct">
    {% for sameCat in sameCats %}
        <section class="SameCat-sticker">
            <h2 class="SameCat-sticker-title">{{sameCat.name|capitalize}}</h2> 
            <img class="SameCat-sticker-pic" src="{{thumbnail_asset(sameCat.thumbnail)}}"></img>
            <a class="SameCat-sticker-link" href="{{ path('product_show',{'slug' : sameCat.slug }) }}">J'achète !</a>
        </section>
    {% endfor %}
    </div>

    {% if app.user %}
    <div class="LayoutProduct">
        <h3>Laissez un avis</h3>
        {{form_start(ReviewType, {'attr':{'class':'form', 'novalidate':'novalidate'}})}} {# ->balise <form> #}
            {{ form_widget(ReviewType, {'attr':{'class':'formChamp'}})}} {# ->les champs du formulaire #}
            <input class="submit" type="submit" value="Noter !"> {# On peut laisser le bouton en dur #}
        {{form_end(ReviewType)}} {# ->balise </form> #}
    </div>
    {% endif %}

    <h3 class="LayoutProduct">Les derniers avis</h3>

    <div class="Review LayoutProduct">
        {% for comment in comments %}
            <div class="Comment">
                <small>Publié par : {{comment.nickname}} le {{comment.createdAt|date('d/m/Y')}}</small>
                {% if app.user %}
                    {% if is_granted('DELETE_REVIEW', comment) %} 
                        <a href="{{path('review_remove', {'slug':product.slug, 'id': comment.id})}}"><i class="far fa-trash-alt"></i></a>
                    {% endif %}
                {% endif %}
                <p>Avis : {{comment.content}}</p>
                <small class="grade">Note : {{comment.grade}}/5</small></br>
                {% if app.user %}
                    {% if app.user.canReport(comment) %}
                        <a class="signal" href="{{path('review_report', {'slug':product.slug, 'id': comment.id} )}}"><i class="fas fa-exclamation signal"></i> Signaler cet avis</a>
                    {% endif %}
                    {% if app.user.canUnreport(comment) %}
                        <a class="unsignal" href="{{path('review_unreport', {'slug':product.slug, 'id': comment.id} )}}"><i class="fas fa-check unsignal"></i> Désignaler cet avis</a>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    
{% endblock %}