<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}E-commerce{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />
            <link rel="icon" href="{{ asset('img/alcohol.png') }}" />
        {% endblock %}

        {% block javascripts %}
            <script type="module" src="{{ asset('js/nav.js') }}"></script>
            <script type="module" src="{{ asset('js/admin.js') }}"></script>
        {% endblock %}
    </head>
    <body>

        <header class="SiteHeader">
            {% block nav %}
                {% include 'partials/_navbar.html.twig' %}
            {% endblock %}
        </header>

        {# Messages flash #}
        {% for type,messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{type}}"><i class="fas fa-thumbs-up"></i> {{message}}</div>
            {% endfor %}
        {% endfor %}
        
        {% block body %}{% endblock %}
    </body>
</html>
