{% extends 'base.html.twig' %}

{% block javascripts %}
    <script type="module" src="{{ asset('js/admin.js') }}"></script>
{% endblock %}

{% block nav %}

    <nav class="SiteHeader-nav">
        <a class="SiteHeader-nav-link" href="{{ path('home_index') }}"><i class="fas fa-home"></i> Site Public</a>
        
        {% if app.user %}
            <a class="SiteHeader-nav-link" href="{{ path('admin_index') }}"><i class="fas fa-user-cog"></i> Dashboard</a>
            <a class="SiteHeader-nav-link" href="{{ path('security_logout') }}"><i class="fas fa-sign-out-alt"></i> Deconnexion</a>
        {% endif %}

        {% if app.user %}
        <div class="UserContainer">
            <small class="baneer-fullname">{{app.user.fullName}}</small>
            <img class="baneerAvatar" src="{{avatar_asset(app.user.avatar)}}" alt="avatar">
        </div>
        {% endif %}
    </nav>

{% endblock %}