{% extends 'base.admin.html.twig' %}

{% block title %} {{ parent() }} - Administration {% endblock %}

{% block body %}

    <h2><i class="fas fa-tasks"></i> Dashboard Administration</h2>

    <div class="buttonDiv">
        <a class="button" href="{{ path('admin_category_add') }}"><i class="far fa-plus-square"></i> Ajouter une catégorie</a>
    </div>

    <table class="catTable">
        <thead>
        <tr class="TabEntete">
            <td>Catégorie</td>
            <td>Editer</td>
            <td>Supprimer</td>
        </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr class="TabContent" id="category-{{category.id}}">
                <td>{{category.name}}</td>
                <td><a href="{{ path('admin_category_edit', {'id': category.id}) }}" ><i class="far fa-edit"></i></a></td>
                <td><a class="deleteCat" href="{{ path('admin_category_delete', {'id': category.id}) }}" ><i class="far fa-trash-alt"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="buttonDiv">
        <a class="button" href="{{ path('admin_product_add') }}"><i class="far fa-plus-square"></i> Ajouter un produit</a>
    </div>

    <table>
        <thead>
            <tr class="TabEntete">
                <td>Nom du produit</td>
                <td>Catégorie</td>
                <td>Photo</td>
                <td>Editer</td>
                <td>Supprimer</td>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr class="TabContent" id="product-{{product.id}}">
                <td>{{product.name|capitalize}}</td>
                <td>{{product.category.name}}</td>
                <td><img class="dashboardPic" src="{{thumbnail_asset(product.thumbnail)}}"></img></td>
                <td><a href="{{ path('admin_product_edit', {'id': product.id}) }}" ><i class="far fa-edit"></i></a></td>
                <td><a class="delete" href="{{ path('admin_product_delete', {'id': product.id}) }}" ><i class="far fa-trash-alt"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}