{% extends 'base.admin.html.twig' %}

{% block title %} {{ parent() }} - Editer un produit {% endblock %}

{% block body %}

    <h2>Formulaire de modification d'un produit</h2>

    <div class="formcontainer LayoutProduct">

        {{form_start(productForm, {'attr':{'class':'form LayoutProduct', 'novalidate':'novalidate'}})}}
            {{ form_widget(productForm, {'attr':{'class':'formChamp'}})}}
            <input class="submit" type="submit" value="Editer !">          
        {{form_end(productForm)}}

        <div class="preview">
            <small class="preview-title">Image actuelle</small>
            <img src="{{thumbnail_asset(product.thumbnail)}}" class="preview-pic" >

            <small class="preview-title">Nouvelle image uploadée</small>
            <img class="preview-pic" id="file-ip-1-preview">
        </div>
    </div>

{% endblock %}