{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Accueil {% endblock %}

{% block body %}

    <h2><i class="fas fa-glass-cheers"></i> Listes de vos bouteilles favorites</h2>
    <table>
        <thead>
            <tr class="TabEntete">
                <td>Nom du produit</td>
                <td>Catégorie</td>
                <td>Photo</td>
                <td>Retirer des favoris</td>
            </tr>
        </thead>
        <tbody>
            {% for favProduct in favProducts %}
            <tr class="TabContent" id="product-{{favProduct.id}}">
                <td>{{favProduct.name|capitalize}}</td>
                <td>{{favProduct.category.name}}</td>
                <td><img class="dashboardPic" src="{{thumbnail_asset(favProduct.thumbnail)}}"></img></td>
                <td><a class="flash-failure" href="{{path('unfavorite', {'slug':favProduct.slug})}}"><i class="fas fa-heart-broken"></i></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}